<!-- <app-container> -->
  <div class="banner mx-auto w-full h-450 max-w-full flex-shrink-0 rounded-lg relative flex flex-col justify-center" style="background-image: url('../../../assets/about/image-hero-whitecup.jpg');">
    <h1 class="title text-white font-fraunces font-bold text-6xl ml-16">About Us</h1>
    <p class="banner_text w-445 text-white font-barlow text-base opacity-80 ml-16">Coffeeroasters began its journey of exotic discovery in 1999, highlighting stories of coffee from around the world. We have since been dedicated to bring the perfect cup - from bean to brew - in every shipment.</p>
  </div>
  <div class="wrapper relative flex flex-col max-w-full">
    <div class="box1 max-w-full w-1180 mt-150 flex justify-center items-center gap-24">
      <img class="border-radius-9 max-w-50%" src="../../../assets/about/image-commitment.jpg" alt="">
      <div class="text_box1 flex max-w-50% h-340 flex-col justify-center items-flex-start gap-24">
        <h2 class="w-60% color-333D4B font-fraunces font-bold text-2xl leading-48">Our commitment</h2>
        <p class="color-333D4B font-barlow text-base opacity-80">We’re built on a simple mission and a commitment to doing good along the way. We want to make it easy for you to discover and brew the world’s best coffee at home. It all starts at the source. To locate the specific lots we want to purchase, we travel nearly 60 days a year trying to understand the challenges and opportunities in each of these places. We collaborate with exceptional coffee growers and empower a global community of farmers through with well above fair-trade benchmarks. We also offer training, support farm community initiatives, and invest in coffee plant science. Curating only the finest blends, we roast each lot to highlight tasting profiles distinctive to their native growing region.</p>
      </div>
    </div>
    <div class="box2 w-1280 h-474 border-radius-10 bg-2C343E mt-300 relative max-w-full flex flex-row-reverse justify-around">
      <img class="max-w-40% border-radius-9 absolute top-neg-90 right-20" src="../../../assets/about/image-quality.jpg" alt="Quality image">
      <div class="text_box2 flex absolute left-20 flex-col mt-60 ml-90 max-w-40%">
        <h2 class="text-white font-fraunces font-bold text-2xl leading-48">Uncompromising quality</h2>
        <p class="width-540 text-white font-barlow text-base opacity-80 max-width-90%">Although we work with growers who pay close attention to all stages of harvest and processing, we employ, on our end, a rigorous quality control program to avoid over-roasting or baking the coffee dry. Every bag of coffee is tagged with a roast date and batch number. Our goal is to roast consistent, user-friendly coffee, so that brewing is easy and enjoyable.</p>
      </div>
    </div>
    <div class="box3 pt-150 w-1045">
      <div class="title color-83888F font-fraunces font-bold text-lg leading-32 mb-150">
        <h2>Our headquarters</h2>
      </div>
    </div>
    <div class="box4 flex flex-wrap justify-between flex-1">
      <div class="card w-285">
        <img src="../../../assets/about/illustration-uk.svg" alt="UK map">
        <h2 class="color-333D4B font-fraunces font-bold text-2xl leading-36">United Kingdom</h2>
        <p>68  Asfordby Rd <br>
          Alcaston <br>
          SY6 1YA <br>
          +44 1241 918425</p>
      </div>
      <div class="card w-285">
        <img src="../../../assets/about/illustration-canada.svg" alt="Canada map">
        <h2 class="color-333D4B font-fraunces font-bold text-2xl leading-36">Canada</h2>
        <p>1528  Eglinton Avenue <br>
          Toronto<br>
          Ontario M4P 1A6<br>
          +1 416 485 2997</p>
      </div>
      <div class="card w-285">
        <img src="../../../assets/about/illustration-australia.svg" alt="Australia map">
        <h2 class="color-333D4B font-fraunces font-bold text-2xl leading-36">Australia</h2>
        <p>36 Swanston Street <br>
          Kewell <br>
          Victoria <br>
          +61 4 9928 3629</p>
      </div>
    </div>
  </div>
<!-- </app-container> -->

